lm/tema7/a1/ejercicio1/medios_transporte.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mediosDeTransporte [
<!ELEMENT mediosDeTransporte [bicicleta, patinete]>
<!ELEMENT bicicleta EMPTY>
<!ATTLIST bicicleta velocidad CDATA #REQUIRED>
<!ELEMENT patinete EMPTY>
<!ATTLIST patinete velocidad maxima CDATA #REQUIRED>
]>
<mediosDeTransporte>
<bicicleta velocidad="100km/h" />
<patinete velocidad maxima="50 km/h"/>
</mediosDeTransporte>