lm/tema7/a1/ejercicio9/matricula.dtd

<!ELEMENT matricula (personal*, pago*)>
<!ELEMENT personal (dni, nombre, titulacion, curso_academico, domicilios)>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT domicilios (domicilio*)>
<!ELEMENT domicilio (nombre)>
<!ATTLIST domicilio tipo (familiar | habitual ) #REQUIRED>
<!ELEMENT tipo_matricula (#PCDATA)>